.wrapper {
    padding: 0 1rem;
}

/* Navigation >>> */

nav {
    border-bottom: lightgray 2px solid;
    padding: 0.5rem 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0;
    margin: 0;
    display: block;
    padding-bottom: 0.6rem;
    text-align: center;
}

@media all and (min-width: 520px) {
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    nav ul li {
        padding-right: 1rem;
        padding-bottom: 0;
        text-align: left;
    }
}

/* <<< Navigation */

/* List Card >>> */

section.list_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1rem;
}

section.list_card {
    display: grid;
    grid-template-areas:
        "list_card_name"
        "list_card_info";
    grid-template-columns: 1fr;
    grid-template-rows: 2rem auto;
    grid-gap: 0.6rem;
    background-color: whitesmoke;
    border: 1px solid gray;
    padding: 1rem;
}

section.list_card a {
    text-decoration-style: dashed;
    text-underline-offset: 0.3rem;
    letter-spacing: 0.02rem;
    color: #303030;
    display: block;
}


.list_card_name {
    grid-area: list_card_name;
}

.list_card_info {
    grid-area: list_card_info;
}

.list_card_extra {
    display: none;
}

.list_card_extra_detail {
    display: none;
}

.list_card_name h3 {
    margin: 0;
    padding: 0;
}

.list_card_info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list_card_extra_detail ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media all and (min-width: 520px) {
    section.list_cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-auto-rows: auto;
        grid-gap: 1rem;
    }
    
    section.list_card {
        display: grid;
        grid-template-areas:
            "list_card_name list_card_extra"
            "list_card_info list_card_extra_detail";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2rem auto;
    }

    .list_card_name {
        grid-area: list_card_name;
        align-self: end;
    }

    .list_card_info {
        grid-area: list_card_info;
    }

    .list_card_extra {
        grid-area: list_card_extra;
        display: inline-block;
        align-self: end;
        text-align: right;
    }

    .list_card_extra_detail {
        grid-area: list_card_extra_detail;
        display: inline-block;
        align-self: start;
        text-align: right;
    }
}

/* <<< List Card */
