{% extends "component/list_card.html" %}
{% block name %}
    <a href="{{ url_for('space_detail', name=space.name) }}" class="space_card_link">
        {{space.name}}
    </a>
{% endblock name %}

{% block info %}
    <ul>
        <li>Online</li>
    </ul>
{% endblock info %}

{% block extra %}
    {% with count=space.agents().count() %}
        {{ count }} agent{{count|plural}}
    {% endwith %}
{% endblock extra %}

{% block extra_detail %}
    <ul>
        {% for space in space.agents() %}
        <li>{{ space.name }}</li>
        {% endfor %}
    </ul>
{% endblock extra_detail %}
