{% extends "base.html" %}

{% block content %}
<h3>
    <a href="{{ url_for('agents') }}">Agents</a> >
    <a href="{{ url_for('agent_detail', name=agent.name) }}">{{agent.name}}</a>
</h3>

<section class="detail_card">

    <label for="agent_uuid">UUID:</label>
    <input name="agent_uuid" type="text" value="{{agent.uuid}}" size="10" />

    <label for="agent_uuid">Token:</label>
    <input name="agent_token" type="text" value="{{agent.token}}" size="10" />

    <label for="spaces">Spaces:</label>
    <ul>
    {% for space in agent.spaces() %}
        <li>
            <span>{{space.name}}</span> 
            {% include "form/agent_leave.html" %}
        </li>
    {% endfor %}
    </ul>

    {% if unjoined_spaces %}
        {% include "form/agent_join.html" %}
    {% else %}
        <form class="join-form-empty">
            <p>{{agent.name}} has joined all spaces.</p>
        </form>
    {% endif %}

    {% include "form/agent_delete.html" %}

</section>
{% endblock content %}
