<!doctype html>
<html>
<head>
    <title>{{ app_name }} - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}'" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
    {% block head %}
    {% endblock head %}
</head>
<body>
<div class="wrapper">
    {% include "component/navigation.html" %}
    {% include "component/header.html" %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include "component/footer.html" %}
</div>
</body>
</html>
