{% extends "base.html" %}

{% block title %}Console{% endblock title %}
{% block content %}
<h2>Console</h2>
<section class="console">
    <ul id="console_log"></ul>

    <div class="console_form">
        <label for="console_space">Space:</label>
        <select id="console_space">
        {% for space in agent_spaces %}
            <option value="{{space.name}}">{{space.name}}</option>
        {% endfor %}
        </select>

        <label for="console_kind">Kind:</label>
        <select id="console_kind">
            <option value="1">command</option>
            <option value="2" selected="selected">event</option>
        </select>

        <label for="console_kind">Name:</label>
        <input type="text" id="console_input" size="16">

        <button id="console_button">Send</button>
    </div>
</section>
<script type="text/javascript" src="{{ url_for('static', filename='js/console.js') }}"></script>
{% endblock content %}
