{% extends "base.html" %}
{% block content %}
<form action="{{ url_for('login', next=next_url) }}" class="form-horizontal" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text">
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
    </div>
    <div class="form-group">
        <button class="btn" type="submit">Login</button>
    </div>
</form>
{% endblock content %}
